@{
    ViewData["Title"] = "详情";
}
@Html.AntiForgeryToken()

<div class="layui-main">
    <input type="hidden" id="id" value="@ViewBag.Id" />
    <span class="layui-breadcrumb">
        <a href="javascript:history.go(-1)">模块管理</a>
        <a href="javascript:void(0)">模块信息</a>
    </span>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>模块信息</legend>
    </fieldset>
    <div class="layui-form layui-form-pane" lay-filter="formData">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" autocomplete="off" name="Name" lay-filter="Name" style="width:200px" lay-verify="required" lay-verType="tips" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" autocomplete="off" name="Ico" lay-filter="Name" style="width:100px" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" class="layui-input" style="width:80px;" name="Sort" lay-filter="Sort" lay-verify="" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" lay-text="启用|停用" name="Status" title="启用" lay-skin="primary" lay-filter="Status" value="1" checked />
            </div>
        </div>
        @*<div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" title="女" value="女" name="sex" />
                    <input type="radio" title="男" value="男" name="sex" />
                </div>
            </div>*@
        <div class="layui-form-item">
            <div class="layui-input-block layui-btn-container">
                <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
                <button class="layui-btn layui-btn-danger back" lay-filter="back" onclick="javascript:history.back(-1);">返回</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/layui/layui.js?v=@Html.GetVersion()"></script>
    <script src="~/js/backstage/module/moduleDetails.js?v=@Html.GetVersion()"></script>
}


